	<div class="menu">
		<div class="content-header">
				<img src="http://stphilomenaschool.in/images/loggo.png" style="width:250px;height:50px;" alt="Girl in a jacket">
			
				<p></p>
			</div>
		</div>
	</div>